{% extends "base.html" %}

{% block body %}
<h1 class="title">Weather for {{ city }}</h1>

{% for datapoint in datapoints %}
<article class="message is-warning">
    <div class="message-header">
        <p>{{ datapoint.source }} says...</p>
    </div>
    <div class="message-body">
        <strong>Condition:</strong> {{ datapoint.conditions|lower }}
        <br>
        <strong>Temperature:</strong> {{ datapoint.temperature }}°C
    </div>
</article>
{% endfor %}

<a class="button is-warning" href="/">
    <span class="icon is-small">
      <i class="fa fa-arrow-left"></i>
    </span>
    <span>Back</span>
</a>
{% endblock %}